<div class="container my-4">
  <h1 class="mb-4">{{movie.Title}}</h1>
  <div class="row">
    <div class="col-md-4">
      <img [src]="movie.Poster" [alt]="movie.Title">
    </div>
    <div class="col-md-8">
      <div class="list-group">
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Year: </h5>
          </div>
          <p class="mb-1">{{movie.Year}}</p>
        </div>
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Genre: </h5>
          </div>
          <p class="mb-1">{{movie.Genre}}</p>
        </div>
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Director: </h5>
          </div>
          <p class="mb-1">{{movie.Director}}</p>
        </div>
      </div>
      <div class="p-3">
        <h5>Plot: </h5>
        <p>{{movie.Plot}}</p>
      </div>
    </div>
  </div>
</div>