<div class="card">
  <img [src]="movie.Poster" (error)="onImageLoadError()" class="card-img-top" [alt]="movie.Title">
  <div class="card-body"> 
    <h5 class="card-title">{{movie.Title}}</h5>
    <p class="card-text">Year: {{movie.Year}}</p>
    <p class="card-text">Type: {{movie.Type}}</p>
    <a routerLink="/details/{{movie.imdbID}}" class="btn btn-primary mr-2">Details...</a>
    <button *ngIf="!movie.IsFavorite" (click)="onLikeClick()" class="btn btn-success">Like</button>
    <button *ngIf="movie.IsFavorite" (click)="onLikeClick()" class="btn btn-danger">Dislike</button>
  </div>
</div> 