<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container"> 
		<a class="navbar-brand" routerLink="/">MoviesApp</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item" routerLinkActive="active">
					<a routerLink="/search" class="nav-link">Search</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a routerLink="/favorites" class="nav-link">Favorites</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<router-outlet></router-outlet>