<div class="container mt-4">
  <h1>Movie Search</h1>
  <form (submit)="onSearch()">
    <div class="form-group">
      <label for="title">Title: </label>
      <input [(ngModel)]="title" type="text" id="title" name="title" class="form-control">
    </div>
    <button class="btn btn-primary">Search</button>
  </form>

  <div class="form-inline my-4">
    <div class="form-group mr-3">
      <label for="yearFrom">From: {{yearFrom}}</label>
      <input min="1888" [max]="yearTo" [(ngModel)]="yearFrom" type="range" class="form-control-range" id="yearFrom" name="yearFrom">
    </div>
    <div class="form-group mr-3">
      <label for="yearTo">To: {{yearTo}}</label>
      <input [min]="yearFrom" max="2019" [(ngModel)]="yearTo" type="range" class="form-control-range" id="yearTo" name="yearTo">
    </div>
    <div class="form-group mr-3">
      <select [(ngModel)]="type" name="type" id="type" class="form-control">
        <option value="">Select type...</option>
        <option value="movie">Movie</option>
        <option value="game">Game</option>
        <option value="series">Series</option>
      </select>
    </div>
  </div>
  
  <h5>Total results: {{totalResults}}</h5>
  <div class="row mt-4" *ngIf="movies != undefined">
    <div *ngFor="let movie of movies | typeFilter:type | yearFilter:yearFrom:yearTo" class="col-md-3 my-3">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
    <div class="col-12 my-4" *ngIf="movies.length < totalResults">
      <button (click)="onLoadMoreClick()" class="btn btn-primary">Load more...</button>
    </div>
  </div>

  <h1 *ngIf="movies == undefined">Nothing to show!</h1>
</div>