<div class="container my-4">
  <h1>Favorites</h1>

  <h5>Total results: {{movies.length}}</h5>
  <div class="row mt-4" *ngIf="movies != undefined">
    <div *ngFor="let movie of movies" class="col-md-3 my-3">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </div>
</div>